
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 150px;
    text-align: center;
}

div.submit {
  padding-top: 100px
}

.centered p {
  font-weight: 400;
}

.centered p.bottom {
  color: white;
  opacity: .9;
  text-shadow: 0 0 2.5px black
}

.centered .btn-light {
  text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.centered .container .btn {
  margin: 0 2.5px;
}

.centered .container i {
  filter: drop-shadow(-4px 0 2px grey);
}

.social-block {
  margin-top: 45px
}
